@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face{
    font-family: Lovelo Black;
    src: url(fonts/lovelo_black.otf);
}

@font-face{
    font-family: Lovelo Line Bold;
    src: url(fonts/lovelo_line_bold.otf);
}

@font-face{
    font-family: Lovelo Line Light;
    src: url(fonts/lovelo_line_light.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    }

.page-wrapper{
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #fff;
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-wrapper > * {
	width: 800px;
	margin: 0 auto;
	color: #fff;
	mix-blend-mode: difference;
}

header{
	padding: 150px 0 0 0;
	text-align: center;
}


.summary{
	margin-bottom: 50px;
}

.summary > p{
	text-align: justify;
	margin: 10px 0;
}

.preamble{
	margin-bottom: 50px;
}

.preamble > p{
	text-align: justify;
	margin: 10px 0;
}

.explanation{
	margin-bottom: 50px;
}

.explanation > p{
	text-align: justify;
	margin: 10px 0;
}

.participation{
	margin-bottom: 50px;
}

.participation > p{
	text-align: justify;
	margin: 10px 0;
}

.benefits{
	margin-bottom: 50px;
}

.benefits > p{
	text-align: justify;
	margin: 10px 0;
}

.requirements{
	margin-bottom: 50px;
}

.requirements > p{
	text-align: justify;
	margin: 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0 2px;
  position: relative;
}

a:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: '';
  opacity: .3;
  -webkit-transform: scaleX(.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

a:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}

h1{
	font-family: 'Lovelo Line Light', serif;
	font-size: 98px;
}

h2{
	font-family: 'Lovelo Black', serif;
	font-size: 62px;
}

h3{
	font-family: 'Lovelo Black', serif;
	font-size: 36px;
}

footer {
	width: 100%;
	word-spacing: 42px;
	margin: 100px auto;
	text-align: center;
	font-size: 62px;
	font-family: 'Lovelo Black', serif;
}

footer > a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}

footer > a:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

aside{
	overflow: hidden;
	text-align: left;
	padding-bottom: 250px;
	font-size: 14px;
}

li{
	list-style-type: none;
}

aside > h3{
	font-size: 28px;
	overflow: hidden;
	text-align: center;
}

aside > a:before{
	background-color: #000;
}

.design-selection{
	float: right;
	width: 51%;
	text-align: left;
}

.design-selection > h3{
	padding-bottom: 10px;
}

.design-archives{
	float: left;
	width: 40%;
	text-align: right;
}

.design-archives > h3{
	padding-top: 60px;
	padding-bottom: 10px;
}


.zen-resources{
	width: 40%;
	text-align: right;
}

.zen-resources > h3{
	padding-bottom: 10px;
}